<br>

<div ng-controller="LectureRequestsController as vm" ng-init="LectureRequestsFactory.getRequests()">
  <div class="ui search">
    <div class="ui fluid icon input">
      <input ng-model="search" class="prompt" type="text" placeholder="Search Lecture Requests...">
      <i class="search icon"></i>
    </div>
  </div>

<br>
  <div class="ui center aligned grid" ng-repeat="request in LectureRequestsFactory.requests() | filter: search">
    <div></div>
    <div class="ui card">
      <div class="content">
        <div class="header"><a ui-sref="lecture_request({id: {{request.id}}})">{{request.title}}</a></div>
        <div class="description">
          {{request.content}}
        </div>
      </div>
      
      <div class="content">
        <span class="right floated">
          <i class="heart outline like icon" ng-controller="UserProfileController as user" ng-click="heartRequest($event)"></i>
          {{request.user_likes.length}}
        </span>
        <i class="comment icon" ng-click="showComments = !showComments"></i>
          {{request.comments.length}}
        <div ng-show="showComments" ng-repeat="comment in request.comments">
          <p>{{comment.commenter_username}} said: {{comment.text}}</p>
        </div>
      </div>
      <!-- need to fix the heart button. need to also send the id of the request where comment is being submitted -->
      <div class="extra content">
        <div ng-controller="AuthController as Auth" ng-show="isAuthenticated" class="ui large transparent left icon input">
          <i class="comment outline icon"></i>
          <input ng-controller="LectureRequestsController as vm" type="text" ng-model='lectureRequest.comment.text' name="lecture_request[comment]" placeholder='Add Comment...' ng-keyup="$event.keyCode == 13 && submitComment($event)"/>
        </div>
      </div>
    </div>
    <!-- need to 
        - add a function to button that hearts a request
        - add the click which will show all the comments and user details
          - even a small user's semantic ui card (find from semantic ui)
          - it will also have option to add a comment
            - have a functioning way to add a comment
         -->
  </div>
</div>

