<br>
<button class="mini ui button" ng-click="vm.sortByHearts()" >Sort by likes</button>
<!-- ngclick to stackoverflow api -->
<button class="mini ui button" ng-click="vm.searchStackOverflow()" value="submit"><img width="auto" height="15" src="assets/stack_overflow_logo.png"></button>

  <div style="background-color:#4183c4;" class="ui search">
    <br>

    <div class="ui fluid icon input">
      <input id="search_field" ng-model="search" class="prompt" type="text" placeholder="Search Lecture Requests...">
      <i class="search icon"></i>
    </div>

    <div class="ui radio checkbox">
      <input type="checkbox" ng-model="search" ng-true-value="'angularjs'" ng-false-value=""><label>Angularjs</label></input>
    </div>

    <div class="ui radio checkbox">
      <input type="checkbox" ng-model="search" ng-true-value="'javascript'" ng-false-value=""><label>Javascript</label></input>
    </div>

    <div class="ui radio checkbox">
      <input type="checkbox" ng-model="search" ng-true-value="'rails'" ng-false-value=""><label>Rails</label></input>
    </div>

    <div class="ui radio checkbox">
      <input type="checkbox" ng-model="search" ng-true-value="'ruby'" ng-false-value=""><label>Ruby</label></input>
    </div>
  </div>

<br>
  <div class="ui stackable" ng-repeat="request in vm.requests | filter: search">
    <div></div>
    <div class="ui fluid card">
      <div class="content">
        <div class="header"><a ui-sref="lecture_request({id: {{request.id}}})">{{request.title}}</a></div>
        <div class="description">
          {{request.content}}
        </div>
      </div>
      
      <div class="content">
        <span class="right floated">
          <i class="heart outline like icon" ng-controller="UserProfileController as user" ng-click="heartRequest($event)"></i>
          {{request.user_likes.length}}
        </span>
        <i class="comment icon" ng-click="showComments = !showComments"></i>
          {{request.comments.length}}
        <div ng-show="showComments" ng-repeat="comment in request.comments">
          <p>{{comment.commenter_username}} said: {{comment.text}}</p>
        </div>
      </div>

<!-- Add comment in home page. Auth controller confirms a session before showing up. LectureRequest controller handles submitComment function -->
      <div class="extra content">
        <div class="ui large transparent left icon input">
          <i class="comment outline icon"></i>
          <input ng-controller="AuthController as Auth" ng-show="isAuthenticated" type="text" ng-model='lectureRequest.comment.text' name="lecture_request[comment]" placeholder='Add Comment...' ng-keyup="$event.keyCode == 13?submitComment($event):return "/>
        </div>
      </div>
    </div>
  </div>

</div>

