<!-- application/index -->
<!DOCTYPE html>
<html>
  <head>
    <title>LectureRequester</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="lecture_requester" ng-controller="HomeController">
    <nav-bar></nav-bar>
    <%=yield%>
    <ui-view></ui-view>
  </body>
</html>


